.cliente {
  width: 50%;
  color: var(--branco);

  .nome {
    font: var(--font-lg-semibold);
    margin-bottom: var(--spacing-6);
  }

  .data {
    font: var(--font-xs-regular);
  }
}

.saldo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;

  .titulo {
    display: flex;
    align-items: center;
    padding: var(--spacing-4) var(--spacing-4) var(--spacing-4) 0;

    .texto {
      font: var(--font-md-semibold);
      color: var(--branco);
      margin-right: var(--spacing-6);
    }
  }

  .divider {
    display: flex;
    background-color: var(--secondary);
    width: 100%;
    height: 2px;
    margin-bottom: var(--spacing-4);
  }

  .tipo-conta {
    font: var(--font-sm-regular);
    color: var(--branco);
    margin-bottom: var(--spacing-2);
  }

  .valor {
    font: var(--font-lg-regular);
    color: var(--branco);
  }
}

@media screen and (max-width: 970px) {
  .cliente,
  .saldo {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .cliente,
  .saldo {
    align-items: center;
  }
  .nome,
  .data {
    text-align: center;
  }
}
