.header {
  background-color: var(--primary);
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-6);

  .avatar-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nome-cliente {
      font: var(--font-xs-semibold);
      color: var(--branco);
      margin-right: 2.5rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .nome-cliente {
    display: none;
  }

  .header {
    .avatar-container {
      justify-content: space-between;
    }
  }
}
