.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 11.25rem;
  height: calc(100vh - var(--header-height) - var(--spacing-6));
  margin-right: var(--spacing-6);
  padding: var(--spacing-4);
  font: var(--font-sm-regular);
  background-color: var(--branco);
  border-radius: 0.5rem;

  .item {
    text-align: center;
    padding-block: var(--spacing-4);
    color: var(--primary);
    position: relative;
    cursor: pointer;
    transition: 0.25s;

    &:not(:last-child)::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 1px;
      background-color: var(--primary);
    }

    &.activated {
      font: var(--font-sm-bold);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
